.syky-tabs {
  .ant-tabs-tab {
    font-weight: 700;
    padding: 16px 0;
  }

  .ant-tabs-ink-bar {
    height: 3px !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}
