.syky-contained-list {
  background: #ffffff;
  border: 1px solid #e0e3ef;
  border-radius: 4px;

  &-content {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e3ef;

    &:last-child {
      border-bottom: unset;
    }
  }

  &-title {
    width: 50%;
    padding: 12px 10px 12px 20px;
    word-wrap: break-word;

    @media (min-width: 1024px) {
      width: 308px;
    }
  }

  &-value {
    width: 50%;
    padding: 12px 20px 12px 10px;
    word-wrap: break-word;

    @media (min-width: 1024px) {
      width: calc(100% - 308px);
    }
  }
}
