@font-face {
    font-family: "UniNeue";
    font-style: normal;
    font-weight: normal;
    src: url("/src/assets/fonts/uni_neue/UniNeue-Regular.otf");
}

@font-face {
    font-family: "UniNeue";
    font-style: normal;
    font-weight: bold;
    src: url("/src/assets/fonts/uni_neue/UniNeue-Bold.otf");
}