.syky-standard-select {
  .ant-select-selector {
    border: unset !important;
    border-bottom: 1px solid #e0e3ef !important;
    border-radius: unset !important;
    padding-left: 0 !important;

    .ant-select-selection-placeholder{
      font-size: 16px;
      color: #989cac;
    }

    .ant-select-selection-item {
      font-size: 16px;
    }

    .ant-select-selection-search {
      inset-inline-start: 0 !important;
      inset-inline-end: 20px !important;
    }
  }

  .ant-select-arrow {
    inset-inline-end: 0 !important;
  }

  &:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    box-shadow: unset !important;
  }
}

.syky-outlined-select {
  .ant-select-selector {
    padding: 0 12px !important;

    .ant-select-selection-placeholder{
      font-size: 14px;
      color: #989cac;
    }

    .ant-select-selection-item {
      font-size: 14px;
    }
  }

  .ant-select-arrow {
    inset-inline-end: 12px ;
  }

  &:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    box-shadow: unset !important;
  }
}
