.syky-password-validator {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 70px;
  row-gap: 12px;
  width: fit-content;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-icon {
    display: flex;
    font-size: 16px;
  }

  &-text {
    font-family: "UniNeue", sans-serif;
    font-size: 12px;
    line-height: 16px;
  }

  &-icon[data-valid="false"],
  &-text[data-valid="false"] {
    color: #e0e3ef;
  }

  &-icon[data-valid="true"] {
    color: #13af78;
  }

  &-text[data-valid="true"] {
    color: #1c1d1f;
  }
}
